@import "tailwindcss";

@plugin "flowbite/plugin";
@custom-variant dark (&:where(.dark, .dark *));
@source "../../node_modules/flowbite-svelte/dist";

/* for app shell */
html,
body {
  @apply bg-gray-900;
}

iconify-icon {
  display: inline-block;
  font-size: 24px;
  line-height: 1em;
}

@custom-variant cant-hover {
  @media (hover: none) {
    @slot;
  }
}
