/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* for app shell */
html,
body {
	@apply h-full;
}

iconify-icon {
	display: inline-block;
	font-size: 24px;
	line-height: 1em;
}

@custom-variant cant-hover {
	@media (hover: none) {
		@slot;
	}
}

/* Custom glass presets from Skeleton. */
@utility preset-glass-neutral {
	background: color-mix(in oklab, var(--color-surface-50-950) 30%, transparent);
	box-shadow: 0 0px 30px color-mix(in oklab, var(--color-surface-50-950) 30%, transparent) inset;
	backdrop-filter: blur(16px);
}
@utility preset-glass-* {
	background: color-mix(in oklab, --value(--color-*) 40%, transparent);
	box-shadow: 0 0px 30px color-mix(in oklab, --value(--color-*) 50%, transparent) inset;
	backdrop-filter: blur(16px);
}

@utility badge-sm {
	font-size: 0.65rem;
	line-height: 1rem;
	padding-inline: --spacing(1.5);
	padding-block: --spacing(0.5);
}
